/* Stil za kartice događaja */
.schedule-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.event-card {
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-bottom: 8px;
    border-left: 4px solid blue;
    cursor: pointer;
}

.event-time {
    margin-right: 10px;
    text-align: center;
}

.event-content {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.event-content h3 {
    font-size: 16px;
    margin: 0 0 3px;
}

.event-content p {
    font-size: 12px;
    margin: 0 0 2px;
}

.event-arrow {
    display: flex;
    align-items: center;
}

.event-arrow span {
    font-size: 20px;
}

/* Stil za modal prozor */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Tamna pozadina */
    z-index: 1000;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.hidden {
    display: none;
}
